body{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 7%;
    align-items: center;
    justify-content: space-between;
    gap:30px
}

.input-container{
    display: flex;
    flex-direction: column;
}

textarea{
    width: 50vw;
    height: 2vh;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: rgba(47, 87, 139, 0.885);
    font-weight: 900;
    margin-top: 1%;
}
textarea::placeholder{
    text-align: center;
}

.main-container button{
    width: 20%;
    height: 5vh;
    border-radius: 20px;
    background-color: rgba(47, 87, 139, 0.885);
    color: whitesmoke;
    font-size: 120%;
    font-weight: 600;
}